@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

html, body, #root, .app, .content {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.app {
  position: relative;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track{
  background-color: #8b8b8b;
}

::-webkit-scrollbar-thumb{
  background-color: #282c34;
}

::-webkit-scrollbar-thumb:hover{
  background: #49cc93;
}




